body {
    background: url('../images/bg.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    font-family: 'Nunito Sans', sans-serif
  }

.navrtl {
    direction: rtl;
}

blockquote {
  color: white;
  text-shadow: 5px 5px 20px #000000;
}

.text-danger {
  color: lightcoral;
  font-weight: 900;
}

.navbar {
  font-size: 1rem;
}

.jumbotron {
  background-color: transparent;
  height: 100px;
}

.btn {
  font-size: 1.25rem;
}

.btn-danger {
  background-color: indianred;
}